<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernatedb?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="connection.username">hbstudent</property>
        <property name="connection.password">hbstudent</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>


        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">100</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
        		
        		
        <!-- Disable Second level Cache -->
         <property name="cache.use_second_level_cache">true</property>
         <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property> <!--class of cache provider -->
		<!--  <property name="hibernate.cache.use_second_level_cache">true</property> -->
		 <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
<property name="hibernate.cache.use_query_cache">false</property>

         <property name="show_sql">true</property>
       
         <property name="hbm2ddl.auto">update</property>
        
       <mapping class="org.hb.dto.UserDetails"/>
       <mapping class="org.hb.dto.UserDetailsCollections"/>
       <mapping class="org.hb.dto.UserDetailsSimple"/>    
       <mapping class="org.hb.dto.UserDetailsCollectionsM2M"/>   
       
       <mapping class="org.hb.dto.Vehicle"/>
       <mapping class="org.hb.dto.VehicleInheritance"/>
       <mapping class="org.hb.dto.RentalVehicle"/>

 
    </session-factory>
    

</hibernate-configuration>

